# Updated LangChain Imports
langchain
langchain-community
langchain-huggingface

# Embeddings & Vector DB
faiss-cpu
sentence-transformers

# LLM & AI
transformers
torch
groq>=0.18.0

# Streamlit & Utilities
streamlit
python-dotenv
requests
